/server/target   
/server/workspace
server/resources/application.properties
server/target/classes/application.properties
server/target/classes/NeuralNet/dataSource/Http.class
server/target/classes/NeuralNet/Entity/StockStructure.class
server/target/classes/NeuralNet/Neuron.class
server/target/classes/NeuralNet/RecurrentNN.class
server/target/classes/NeuralNet/TansferFunction/MethodEntity.class
server/target/classes/application.properties
server/target/classes/NeuralNet/dataSource/Http.class
server/target/classes/NeuralNet/dataSource/Http.class
server/target/classes/NeuralNet/dataSource/Http.class
server/target/classes/NeuralNet/dataSource/Http.class
server/target/classes/NeuralNet/Entity/StockStructure.class

server/target/m2e-wtp/web-resources/META-INF/maven/com.xjc.interface/server/pom.xml
server/target/m2e-wtp/web-resources/META-INF/maven/com.xjc.interface/server/pom.properties
server/target/m2e-wtp/web-resources/META-INF/maven/com.xjc.interface/server/pom.properties
