<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxh.interfaces.mapper.CategoryMapper">
	<select id="selectPage" resultType="Category">
		select * from category limit #{pageBegin} , #{pageSize}
	</select>
	<select id="selectPageSearch" resultType="Category">
		select * from category where name like "%"#{key}"%" limit #{pageBegin} , #{pageSize}
	</select>
	<select id="categoryChildren" resultType="Map">
		select * from category where parentId = #{id}
	</select>
	<select id="countAll" resultType="Integer">
	select count(*) from category
	</select>
	<select id="countSearch" resultType="Integer">
	select count(*) from category where name like "%"#{key}"%" 
	</select>
	<select id="selectLikeName" resultType="Category">
	select * from category where name like "%"#{key}"%"
	</select>
	<select id="selectByParentId" resultType="Category">
	select * from category where parentId = #{parentId}
	</select>
</mapper>