<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxh.interfaces.mapper.CommodityMapper">
	<select id="selectPage" resultType="Commodity">
		select * from commodity limit #{pageBegin} , #{pageSize}
	</select>
	<select id="countAll" resultType="Integer">
	select count(*) from commodity
	</select>
	<select id="selectLikeName" resultType="Commodity">
	select * from commodity where name like "%"#{key}"%"
	</select>
</mapper>